doctype html
html
  head
    title= appTitle
    script(type="text/javascript", src="/js/jquery-3.3.1.js")
    link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap/bootstrap-theme.min.css")
    link(rel="stylesheet", src="/css/style.css")
    script(type="text/javascript", src="/js/bootstrap/bootstrap.bundle.min.js")
    script(type="text/javascript", src="/js/blog.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #wrap
      .container
        h1.page-header= appTitle
        p.lead Welcome to example from Express.js Experience by&nbsp;
          a(href="http://twitter.com/azat_co") @azat_co
          |. Please enojoy.
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      foooter
        .container
          p
            | Copyright &copy; 2014 | Issues ? Submit to
            a(href="https://github.com/azat-co/blog-express/issues") Github
            | .
